<% if flash[:errors] %>
  <p><%= flash[:errors] %></p>
<%end%>

<h1 id="h1-game"> Edit Game </h1>

<div id='game-container'>
<%= form_for @game, method: :patch do |f| %>
  Title: <br />
  <%= f.text_field :title %> <br /><br />
  <!--create select drop down button. selection defined in game model -->
  Genre: <br />
  <%= f.collection_select :genre, Game::GENRES, :to_s, :to_s, :include_blank => true %> <br /><br />
  Platform: <br />
  <%= f.collection_select :platform, Game::PLATFORMS, :to_s, :to_s, :include_blank => true%> <br /><br />
  Release Date: <br />
  <%= f.date_field :release_date %> <br /><br />
  Progress (%): <br />
  <%= f.collection_select :progress, Game::PROGRESS, :to_s, :to_s%> <br /><br />

  <%= f.hidden_field :rating %> <br /><br />

  <%= f.submit 'Submit', class: 'btn btn-primary add_game_button' %>
<%end%>
<div>
