<!-- Note: Currently disabled ratings column as its broken when bootstrap table sortable is in place.-->
<!-- Restored ratings column, uninstalled bootstrap table gem and used bootstrap sortable gem instead -->


<h1 id="h1-playing"> <%=current_user.name.capitalize%>'s List </h1>

<div class="add-game-container">
  <!-- <%= link_to 'Add Game', new_game_path, class: "add-game btn btn-default" %> <br/> -->
  <button type="button" name="button" class="add-game btn btn-default"  data-toggle="modal" data-target="#addGameModal">Add Game</button>
</div>

<!-- Add Game modal -->
<div id="addGameModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="text-align:center" class="modal-title">Add Game</h4>
      </div>

      <div id='game-container'>
      <%= form_for :game, url: games_path do |f| %>
        Title:* <br />
        <%= f.autocomplete_field :title, autocomplete_gamesapi_name_games_path, :update_elements => {}, class: 'addgamefield' %> <br /><br />
        Genre: <br />
        <%= f.collection_select :genre, Game::GENRES, :to_s, :to_s, :include_blank => true %> <br /><br />   <!--create select drop down button. selection defined in game model -->
        Platform: <br />
        <%= f.collection_select :platform, Game::PLATFORMS, :to_s, :to_s, :include_blank => true%> <br /><br />
        Progress (%): <br />
        <%= f.collection_select :progress, Game::PROGRESS, :to_s, :to_s%> <br /><br />
        Release Date: <br />
        <%= f.date_field :release_date, class: 'addgamefield' %> <br /><br />
        <%= f.hidden_field :rating %>

        <%= f.submit 'Add', class: 'btn btn-primary add_game_button' %>
      <%end%>
      </div>


    </div>

  </div>
</div> <!--End add game modal-->

<!-- Bootstrap Tabs  -->
<div class="content-wrapper">

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#playing">Playing</a></li>
  <li><a data-toggle="tab" href="#planning">Queued</a></li>
  <li><a data-toggle="tab" href="#wish">Wishlist</a></li>
  <li><a data-toggle="tab" href="#completed">Completed</a></li>
</ul>

<div class="tab-content">

  <!-- PLAYING CONTENT  -->
  <div id="playing" class="tab-pane fade in active">

    <!-- <div class="table-responsive"> -->
    <table data-toggle="table" class="sortable table table-stripedd table-hover">
      <thead>
        <tr>
          <th  class="col-sm-4" data-field="title">Title</th>
          <th  class="col-sm-1.5" data-field="genre">Genre</th>
          <th  class="col-sm-1.5" data-field="platform">Platform</th>
          <th  class="col-sm-1.5" data-field="progress">Progress</th>
          <th  class="col-sm-1.5" data-field="release_date">Release Date</th>
          <th data-defaultsort='disabled' class="col-sm-2" data-field="rating">Rating</th>
          <!-- <th></th> -->
        </tr>
      </thead>

      <tbody>
        <% Game.all.order("title asc").each do |game| %>
          <%if current_user.id == game.user_id%>
              <%if game.progress != '0%' && game.progress != '100%' && game.progress != '200%' && game.progress != 'Wish' && game.progress != 'Contemplating' && game.progress != 'Paused' %>

                <%= render partial: "games/table", locals: { game: game } %>


              <%end%>
          <%end%>

        <%end%>
      </tbody>
    </table>
    <!-- </div> --> <!--end table responsive -->

  </div>

  <!-- PLANNING TO PLAY CONTENT  -->
  <div id="planning" class="tab-pane fade">

    <!-- <div class="table-responsive"> -->
      <table data-toggle="table" class="sortable table table-stripeddd table-hover">
        <thead>
          <tr>
            <th class="col-sm-4" data-field="title">Title</th>
            <th class="col-sm-1.5" data-field="genre">Genre</th>
            <th class="col-sm-1.5" data-field="platform">Platform</th>
            <th class="col-sm-1.5" data-field="progress">Progress</th>
            <th class="col-sm-1.5" data-field="release_date">Release Date</th>
            <th data-defaultsort='disabled' class="col-sm-2" data-field="rating">Rating</th>
            <!-- <th></th> -->
          </tr>
        </thead>

        <tbody>
          <% Game.all.order("title asc").each do |game| %>
            <%if current_user.id == game.user_id%>
                <%if game.progress == '0%' || game.progress == 'Paused' %>

                <%= render partial: "games/table", locals: { game: game } %>


                <%end%>

            <%end%>

          <%end%>
        </tbody>
      </table>
    <!-- </div> --> <!-- end table repsonsive -->
  </div>

  <!-- WISH CONTENT  -->
  <div id="wish" class="tab-pane fade">

    <!-- <div class="table-responsive"> -->
      <table data-toggle="table" class="sortable table table-stripeddd table-hover">
        <thead>
          <tr>
            <th  class="col-sm-4" data-field="title">Title</th>
            <th  class="col-sm-1.5" data-field="genre">Genre</th>
            <th  class="col-sm-1.5" data-field="platform">Platform</th>
            <th  class="col-sm-1.5" data-field="progress">Progress</th>
            <th  class="col-sm-1.5" data-field="release_date">Release Date</th>
            <th data-defaultsort='disabled' class="col-sm-2" data-field="rating">Rating</th>
            <!-- <th></th> -->
          </tr>
        </thead>

        <tbody>
          <% Game.all.order("title asc").each do |game| %>
            <%if current_user.id == game.user_id%>
                <%if game.progress == 'Wish' || game.progress == 'Contemplating' %>

                <%= render partial: "games/table", locals: { game: game } %>


                <%end%>
            <%end%>

          <%end%>
        </tbody>
      </table>
    <!-- </div> --> <!-- end table repsonsive -->

  </div>

  <!-- COMPLETED CONTENT  -->
  <div id="completed" class="tab-pane fade">

    <!-- <div class="table-responsive"> -->
      <table data-toggle="table" class=" sortable table table-stripeddd table-hover">
        <thead>
          <tr>
            <th  class="col-sm-4" data-field="title">Title</th>
            <th  class="col-sm-1.5" data-field="genre">Genre</th>
            <th  class="col-sm-1.5" data-field="platform">Platform</th>
            <th  class="col-sm-1.5" data-field="progress">Progress</th>
            <th  class="col-sm-1.5" data-field="release_date">Release Date</th>
            <th data-defaultsort='disabled' class="col-sm-2" data-field="rating">Rating</th>
            <!-- <th></th> -->
          </tr>
        </thead>

        <tbody>
          <% Game.all.order("title asc").each do |game| %>
            <%if current_user.id == game.user_id%>
                <%if game.progress == '100%' || game.progress == '200%' %>

                <%= render partial: "games/table", locals: { game: game } %>


                <%end%>
            <%end%>

          <%end%>
        </tbody>
      </table>
    <!-- </div> --> <!-- end table repsonsive -->

  </div>

</div>

<!-- DISQUS -->
<!-- Temporarily disabling disqus until we can share lists -->

<!-- <div class="disqus_accordion_div">
  <a class="disqus_accordion collapsed" href="#disqus" data-toggle="collapse"></a>
</div> -->

<!-- <div id="disqus" class="collapse disqus_div">
  <div id="disqus_thread"></div>
  <script>
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//my-games-list.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
</div> -->



</div> <!--end content wrapper-->

<!-- </div>
</div> -->
