<div class="jumbotron jumbo-bg">

<% @gameName["results"].each do |game| %>

  <h2 class="api-heading"> <%= game["name"] %> </h2>

  <% if game["platforms"] %>
  <% game["platforms"].each do |platform| %>
  <span class="platform-results"><%= platform["name"] %><br/></span>
  <%end%>
  <%end%>

  <% if game["image"] %>
    <img class="api-image" src="<%= game["image"]["small_url"]%>" alt="">
  <% end %>
  <!-- <p class="api-date"> <b>Release Date:</b> <%=game["expected_release_day"]%>/<%=game["expected_release_month"]%>/<%=game["expected_release_year"]%> </p> -->

  <div class="release_date_div">
  <%if game["expected_release_day"]%>
  <span class="api-date"> <b>Expected Release Date:</b> <%=game["expected_release_day"]%></span>
  <%else%>
  <span class="api-date"> <b> Expected Release Date:</b> -- </span>
  <%end%>

  <%if game["expected_release_month"]%>
  <span class="api-date"> / <%=game["expected_release_month"]%> </span>
  <%else%>
  <span class="api-date"> / -- </span>
  <%end%>

  <%if game["expected_release_year"]%>
  <span class="api-date"> / <%=game["expected_release_year"]%> </span>
  <%else%>
  <span class="api-date"> / -- </span>
  <%end%>
  </div><br/>

  <%if game["deck"]%>
  <p class="api-paragraph"> <%=strip_tags(game["deck"]) %></p> </br>
  <%end%>
  
  <hr>

<%end%>
</div>
